:root { 
--gray_600:#727272; 
--gray_700:#5d5d5d; 
--blue_gray_100:#d9d9d9; 
--gray_500:#a78a7f; 
--black_900:#000000; 
--gray_800:#463f3a; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--lime_100:#faedcd; 
}